### Django ###
*.log
*.pot
*.pyc
__pycache__/
settings/prod.py
#static_files/media_files


### Sass ###
.sass-cache/
*.css.map

### OSX ###
*.DS_Store

#Static Files
static_collected/*

#Deployment
instavets/manage.py
instavets/wsgi.py

#Server Files
.bash_history
.bash_logout
.bashrc
.profile
venv/*
