{% extends 'base_checkout.html' %}
{% load staticfiles %}
{% load static %}
{% load bootstrap %}
{% block stylesheets %}
{% endblock stylesheets %}
{% block content %}
<link href="{% static 'css/jquery.datetimepicker.min.css' %}" rel="stylesheet" media="screen">
<div class="container-checkout" id='container-checkout'>
</div>
{% endblock content %}

{% block javascript%}
<script  type="text/javascript" src="{% static 'js/jquery.datetimepicker.full.min.js' %}"></script>
<script  src="{% static 'js/react_instavets/build/test.min.js' %}"></script>
{% endblock javascript%}
