{% extends 'base.html' %}
{% load staticfiles %}
{% load static %}
{% load bootstrap %}

{% block content %}
<div class="container">
  <div class="row" >
    <div class="col-md-9">
      <h2>Contact information.</h2>
      <h4>Enter your basic contact information.</h4>
      <div class="row" id='container-checkout-form'>
      </div>
    </div>
    <div class="col-md-3" id='container-progress-column'>
    </div>
  </div>
</div>
{% endblock content %}

{% block javascript%}
<script  type="text/babel" src="{% static 'js/react_instavets/build/test.js' %}"></script>
{% endblock javascript%}
