{% extends 'base_checkout.html' %}
{% load staticfiles %}
{% load static %}
{% load bootstrap %}
{% block stylesheets %}
{% endblock stylesheets %}
{% block content %}
<link href="{% static 'css/jquery.datetimepicker.min.css' %}" rel="stylesheet" media="screen">
<div class="container-checkout" 'container-checkout'>
    <div class="header-booking">
      <div class="container ">
        <div class="row">
          <div class="col-md-3">
            <img class="img-responsive checkout-logo" alt="File logo" src='/static/images/index/logo-y-nombre.png'/>
          </div>
        <div class="col-md-5 col-md-offset-2">
          <div class="checkout-col">
            <i class="fa fa-user fa-2x checkout-icon" aria-hidden="true" id="step1"></i>
              <p class="checkout-text" id="step1" >1.Contacto</p>
            </div>
            <div class="checkout-col1">
              <i class="fa fa-long-arrow-right fa-2x checkout-icon arrow" aria-hidden="true" id="step1"></i>
            </div>
            <div class="checkout-col">
              <i class="fa fa-paw fa-2x checkout-icon" aria-hidden="true" id="step1"></i>
              <p class="checkout-text" id="step1">2.Mascota</p>
            </div>
            <div class="checkout-col1 select">
              <i class="fa fa-long-arrow-right fa-2x checkout-icon arrow" aria-hidden="true" id="step1"></i>
            </div>
            <div class="checkout-col select">
              <i class="fa fa-credit-card fa-2x checkout-icon" aria-hidden="true" id={this.props.stepid}></i>
              <p class="checkout-text" id={this.props.stepid}>3.Pago</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12 checkout-form-container">
            <p class="form-title" >Confirmar y Pagar</p>
            <p class="form-sub" >La infomación de su consulta:</p>
            <div class="row">
            <div class="col-md-6">
              <ul>
                <li>
                  <h5>Nombre: </h5><h4>{{customer.first_name + customer.last_name}}</h4>
                </li>
                <li>
                  <h5>Apellidos: </h5><h4>{{customer.last_name}}</h4>
                </li>
                <li>
                  <h5>Fecha y hora: </h5><h4>{{booking.date_booking|date:'d F f a '}}</h4>
                </li>
                <li>
                  <h5>Dirección: </h5><h4>{{customer.adress}}</h4>
                </li>
                <li>
                  <h5>Localidad: </h5><h4>{{customer.city}}</h4>
                </li>
                <li>
                  <h5>Teléfono: </h5><h4>{{customer.phone_number}}</h4>
                </li>
              </ul>
            </div>
            <div class="col-md-6">
              <ul>
                <li>
                  <h5>Nombre: </h5><h4>{{pet.name}}</h4>
                </li>
                <li>
                  <h5>Especie: </h5><h4>{{pet.species}}</h4>
                </li>
                <li>
                  <h5>Raza: </h5><h4>{{pet.breed}}</h4>
                </li>
                <li>
                  <h5>Edad(Años): </h5><h4>{{pet.age}}</h4>
                </li>
                <li>
                  <h5>Sexo: </h5><h4>{{pet.gender}}</h4>
                </li>
              </ul>
            </div>
            </div>
            {% if debug %}
              {{ form.sandbox }}
            {% else %}
              {{ form.render }}
            {% endif %}
        </div>
        </div>
      </div>
    </div>
</div>
{% endblock content %}

{% block javascript%}
{% endblock javascript%}
