{% extends 'base.html' %}
{% load staticfiles %}
{% load static %}
{% load bootstrap %}

{% block body_content %}
<section class="full-wrapp" id="contact" style="background-image: url({% static 'images/index/index_slide.jpg' %})">
  <h1>¡Contáctanos!</h1>
  <h3>Estamos aquí para resolver todas vuestras dudas.</h3>
  <br/>
</section>
<div class="container">
  <h1>{{title}}</h1>
  <div class="row">
  <div class="col-md-6 e">
    <form id='contacto' method='POST' action=''>{% csrf_token %}
      {{form}}
      <input type='submit' onsubmit="return false" value='Enviar' class="btn btn-cta-green" />
		</form>
  </div>
  <div class="col-md-6">
  </div>
  </div>
</div>
{% endblock%}
