/* Checkout CSS */

div.checkout-body{
  padding-top: 10%;
  padding-bottom: 20%;
  padding-right: 10%;
  padding-left: 10%;
}

.col-progress{
  border-left: 2px solid;
  height: auto;
  & > h3{
    font-weight: 600;
  }
}
