/* Checkout CSS */

div.checkout-body{
  margin-top: 10%;
  margin-bottom: 20%;
}

.col-progress{
  border-left: 2px solid $instavets_footer_grey_text;
  height: auto;
  height: 400px;
  margin-top: 5%;
  padding-top: 2%;
  display: grid;
  & > h3{
    font-weight: 600;
  }
  & > h4{
    font-weight: 300;
    margin: 5px;
    &.title{
      font-weight: 600;
    }
  }
}

div.col-md-6 > ul > li{
  & > h4,h5{
    display: inline;
  }
}
.checkout-header{
  max-width: 60%;
}


.checkout-form-container{
  padding: 5%;
  margin-bottom: 2%;
}

#container-checkout > div > div.row{
  margin-left: 0px;
  margin-right: 0px;
}


#container-checkout > div:nth-child(1){
  width: 100% !important;
  margin: 0px !important;
  padding: 0px !important;
  max-width: 100% !important;
}
.valign {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
#container-checkout > div:nth-child(1) > div:nth-child(2){

}

.header-booking{
  border-bottom: 1px solid $instavets_green;
  box-shadow: 0px 1px 1px $instavets_green;
}

.form-title{
  color: $instavets_green;
  text-align: left;
  font-size: 35px;
  line-height: 125%;
  display: block;
  margin-bottom: 10px;
}

.form-sub{
  color: $instavets_footer_grey_text;
  text-align: left;;
  font-size: 25px;
  line-height: 125%;
  display: block;
  margin-bottom: 30px;
}

  #step1{
    opacity: 0.5;
}


.col-md-1.select{
  & > #step2{
    opacity: 0.5
  }
}


.col-md-1.cont{
  width : 8.4%
}

.col-md-1.select{
  width : 8.25%
}

.checkout-icon{
  margin-top: 5%;
  text-align: center;
  display: inherit;
}

.arrow{
  line-height: 120%;
}

.checkout-text{
  text-align: center;
  margin-bottom: 5%;
  font-size: 12px;
  line-height: 125%;
  display: block;
}

.checkout-logo{
  height: 55px;
  vertical-align: middle;
}

.form-field{
  color:red;
  width:20%;
}

.small-widget{
  width: 50% !important;
  display: inline;
}

div.form-group:nth-child(1){
  width: 45%;
  display: inline-table;
  margin-right: 10%;
}

div.form-group:nth-child(2){
  width: 45%;
  display: inline-table;
}

.checkout-col{
  display: inline-block;
  width: 20%;
  margin: 0px;
  padding: 0px;
  position: relative;
  min-height: 1px;
}

.checkout-col1{
  display: inline-block;
  width: 10%;
  margin: 0px;
  padding: 0px;
  position: relative;
  min-height: 1px;
}

.checkout-col > i, p {
  display: block;
  width: 100%;
}

div.form-group:nth-child(3){
  width: 45%;
  display: inline-table;
  margin-right: 10%;
}

div.form-group:nth-child(4){
  width: 45%;
  display: inline-table;
}

div.form-group:nth-child(5){
  width: 45%;
  display: inline-table;
  margin-right: 10%;
}

div.form-group:nth-child(6){
  width: 45%;
  display: inline-table;
}

div.form-group:nth-child(8){
  width: 45%;
  display: inline-table;
}
