/* Footer Styles*/
footer{
  background-color: $instavets_footer_grey;
  & > div.container{
    & > div.row:first-child{
      margin: 10px;
      margin-top: 0px;
      padding-top: 20px;
      border-bottom: 1px solid $instavets_footer_grey_text;
      padding-bottom: 2%;
      & > div {
        margin-left: 0px;
        margin-right: 0px;
        padding-right: 0px;
        padding-left: 0px;
        & > ul > li {
          font-size: 14px;
          font-weight: 300;
          & > a{
            color: $instavets_footer_grey_text;
            &:hover{
              color: white;
              text-decoration: none;
            }
          }
          &:first-child{
            font-size: 16px;
            font-weight: 600;
          }
        }
        & > ul > li > i {
          color: $instavets_footer_grey_text;
          padding-top: 5px;
          padding-left: 5px;
          &:hover{
            color: white;
          }
        }
        & > ul > li > i:first-child{
          padding-left: 0px;
        }
      }
    }
    & > div.row:nth-child(2){
      margin: 10px;
      & > a, p{
        font-size: 12px;
        color: $instavets_footer_grey_text;
        text-decoration: none;
        &:hover{
          color: white;
          text-decoration: none;
        }
      }
      & > p:nth-child(2){
        display: inline;
      }
      & > a:nth-child(4){
        display: block;
      }
    }
  }
}
div.col-xs-6:nth-child(2) > ul:nth-child(2) > li:nth-child(1){
  margin-top: 18px;
}
