
/* Colors */
$instavets_green: #00a099;
$instavets_grey: #9b9e9e;
$instavets_footer_grey: #535353;
$instavets_footer_grey_text: #9B9B9B;
$instavets_section_background_grey: #F5F5F5;
$instavets_section_border_grey: #E9E9E9;
$instavtes_grey_dark: #595B5B;

h1, h2 ,h3, h6{
  font-family: "Gotham-Medium";
  color: $instavets_footer_grey;
}


h2{
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: "Gotham-Light";
}

h5{
  font-size: 20px;
  font-weight: 200;;
  line-height: 150%;
  font-family: "Gotham-Light";
  margin-bottom:25px;
}

/* CTA'S */
.btn-cta-white{
  border: 2px solid white;
  border-radius: 4px;
  background-color: transparent;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  &:hover{
    background-color: white;
    color: $instavets_green !important;
  }
}

.btn-cta-green{
  border: 2px solid $instavets_green;
  background-color: white;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 10px;
  padding-bottom: 10px;
  color: $instavets_green;
  &:hover{
    background-color: $instavets_green;
    color: white;
  }
}
.portrait{
  border-radius: 100%;
  border: 4px solid grey;
}
