
/* Colors */
$instavets_green: #00a099;
$instavets_grey: #9b9e9e;
$instavets_footer_grey: #535353;
$instavets_footer_grey_text: #9B9B9B;

h1, h2 ,h3{
  font-family: "Gotham-Medium";
}

/* CTA'S */
.btn-cta-white{
  border: 2px solid white;
  border-radius: 0px;
  background-color: transparent;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  &:hover{
    background-color: white;
    color: $instavets_green !important;
  }
}

.btn-cta-green{
  border: 2px solid $instavets_green;
  border-radius: 0px;
  background-color: white;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 10px;
  padding-bottom: 10px;
  color: $instavets_green;
  &:hover{
    background-color: $instavets_green;
    color: white;
  }
}
