
/*-------------------- Navbar Styles START--------------*/

header > nav.navbar{
  position: relative;
  border: 0px;
  background-color: white;
  background-image: none;
  margin-bottom: 0px;
  padding-bottom: 0px;
  text-align: center;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  & > div.collapse.navbar-toggleable-xs{
    & > ul.nav.navbar-nav{
      background-color: white;
      padding-bottom: 0px !important;
      & > li{
        text-align: center;
        width: 20%;
        margin: auto;
        &.nav-item > a.nav-link{
          font-family: "Gotham-Medium";
          font-size: 18px;
          text-transform: uppercase;
          color: $instavets_grey !important;
          background-color: transparent !important;
          background-image: none;
          border-top: 4px solid white;
          border-bottom: 4px solid white;
          text-shadow: none;
          &:hover,
          &:active{
              color: $instavets_green !important;
              background-image: none;
              border-bottom: 4px solid $instavets_green;
            }
        }
        #exCollapsingNavbar2 > ul > li.nav-item.dropdown.open > div
        &.nav-item:last-child{
          width: 20%;
          float: right;
          & > a.nav-link{
            //padding-top: 10px;
            //padding-bottom: 10px;
            border: 2px solid $instavets_green;
            border-radius: 10px;
            &:hover{
              background-color: $instavets_green !important;
              color: white !important;
            }
          }
        }
      }
    }
  }
}

.navbar-logo{
  height: 40px;
}

.dropdown-menu{
  text-align: center;
  border-radius: 0px;
  width: 200px;
  width: -moz-available;
  margin-top: 0px;
}

.dropdown-item:hover,
.dropdown-item:active{
  color: $instavets_green;
}

ul.nav li.dropdown:hover ul.dropdown-menu {
  display: block;
}

.dropdown{
  text-align: center;
}
