
/*-------------------- Navbar Styles START--------------*/

header > nav.navbar{
  position: relative;
  border: 0px;
  background-color: white;
  background-image: none;
  margin-bottom: 0px;
  padding-bottom: 0px;
  text-align: center;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  @include respond-to(mobiles) { padding-left: 0px; padding-right: 0px}
 & > a.hidden-sm-up{
   float: left;
   padding-left: 0.5rem ;
   margin-bottom: 0.5rem ;
 }
 & > button.navbar-toggler.hidden-sm-up{
   float: right;
 }
  & > div.collapse.navbar-toggleable-xs{
    & > ul.nav.navbar-nav{
      background-color: white;
      padding-bottom: 0px !important;
      & > li{
        text-align: center;
        width: 20%;
        @include respond-to(tablets) {width: 17% ;}
        @include respond-to(mobiles) { width: 100% ;border: 3px solid #E9E9E9;
        border-bottom: none;}
        margin: auto;
        &.nav-item > a.nav-link{
          font-family: "Gotham-Medium";
          font-size: 18px;
          text-transform: uppercase;
          color: $instavets_grey !important;
          background-color: transparent !important;
          background-image: none;
          border-top: 4px solid white;
          border-bottom: 4px solid white;
          text-shadow: none;
          margin-left: 0px !important;
          &:hover,
          &:active,
          &:focus{
              outline: none;
              color: $instavets_green !important;
              background-image: none;
              border-bottom: 4px solid $instavets_green;
            }
          }
          &.nav-item:first-child{
            @include respond-to(tablets) {width: 22% ;}
          }
          &.nav-item:nth-child(4){
            width: 20% ;
            border: 0px;
            @include respond-to(mobiles) { width: 100%;}
            @include respond-to(tablets) { width: 22%;}
            float: right !important;
            & > a.nav-link{
              border: 3px solid $instavets_green !important;
              border-radius: 10px ;
              @include respond-to(mobiles) { border-radius: 0px ;}
              color: $instavets_green !important;
              font-size: 18px;
              @include respond-to(tablets) { font-size: 16px;}
              margin-left: 0px !important;
              &:hover{
                background-color: $instavets_green !important;
                color: white !important;
              }
            }
          }
        }
      }
    }
  }


.navbar-logo{
  height: 40px;
}

.dropdown-menu{
  text-align: center;
  border-radius: 0px;
  width: 100%;
  width: -moz-available;
  margin-top: 0px;
}

.dropdown-item:hover,
.dropdown-item:active{
  color: $instavets_green;
}

ul.nav li.dropdown:hover ul.dropdown-menu {
  @include respond-to(medium-screens) { display: block;}
  @include respond-to(wide-screens) { display: block;}
}

.dropdown{
  text-align: center;
}
