/*SCSS for the index page*/
div{
  &.container{
    max-width: 100%;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;
    & > img[id="index_slide"]{
      width: 100%;
      padding: 0px;
      margin: 0px;
    }
    & > div.container-slide-overlay{
      position: absolute;;
      top: 35%;
      text-align: center;
      width: 100%;
      & > h1, h3{
        text-transform: uppercase;
        color: white;
      }
    }

  }

}
