@charset "UTF-8";
/* SERVICIOS */
.vc {
	width: 100%;
	clear: both;
	padding-top: 1px;
}
.comparacion {
	display:block;
	margin:auto;
	max-width:1200px;
	height:auto;
	width:100%;
}
#seccion {
	width: 95%;
	max-width: 1200px;
	height: auto;
	clear: both;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
}
#seccion2 {
	margin-top: 90px;
	width: 95%;
	max-width: 1200px;
	height: auto;
	clear: both;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
}
#seccion3 {
	margin-top: 25px;
	width: 100%;
	max-width: 1200px;
	height: auto;
	clear: both;
	margin-right: auto;
	margin-bottom: 25px;
	margin-left: auto;
}
#seccion3 h4 {
	background: url(../images/footprint-bullet.png) no-repeat left top;
	font-family: "Gotham-Bold";
	color: #00a099;
	font-size: 20px;
	margin-bottom: 5px;
	margin-top: 35px;
	text-transform: uppercase;
	display: block;
}
#seccion3 h6 {
	font-family: "Gotham-light";
	color: #000;
	font-size: 16px;
	border-bottom: 1px solid #00a099;
	margin-bottom: 25px;
	margin-top: 10px;
	display: block;
	padding-bottom: 5px;
}
#seccion3 h5 {display:block; color:#000a09; font-size:32px; text-align:center; text-transform:uppercase; margin:10px 0 55px; font-family: "Gotham-Light";}
#seccion3 p{color:#000; font-size:18px; font-family: "Gotham-Light"; line-height:30px;}

#seccion3 #izquierda{
	width: 70%;
	height: auto;
	float: left;
	margin-right: 2%;
}
#seccion3 #derecha {
	width: 26%;
	height: auto;
	margin-left: 2%;
	float: left;
}
#seccion3 #derecha img {
	width: 100%;
	height: auto;
	max-width: 250px;
	display: block;
	margin-top: 10%;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
}



#seccion #izquierda{
	width:48%;
	height:auto;
	float:left;
	margin-right:2%;
}
#seccion #derecha {
	width:48%;
	height:auto;
	margin-left:2%;
	float:left;
}
#seccion #izquierda img {
	width:100%;
	height:auto;
	margin:auto;
}
#seccion p{ font-size: 16px;font-family: "Gotham-Light";}
#seccion h5{
	font-size: 25px;
	color: #000a09;
	font-family: "Gotham-Light";
	margin-bottom: 10px;
	text-transform: uppercase;
	display: block;
	margin-top: 10px;
	line-height: 28px;
}
#seccion h4{ color:#000a09; font-size:18px; border-bottom:1px solid #d9dada;  padding-bottom: 15px;  margin-bottom: 18px; margin-top:35px;}
#seccion h4 span{ color:#00a099; font-size:18px; float:right; font-family:"Gotham-Bold";}
#seccion ul{display: inline-block; width:100%;}
#seccion ul li{ background:url(../images/footprint-bullet.png) no-repeat left top; height:16px;  font-size:15px; color:#595a5a; padding-left:20px; font-family: "Gotham-Light"; height:35px;}
#nota{  display: inline-block;
    float: right; margin-top:20px;}

#nota p{ font-size:15px;  color: #595a5a; font-family: "Gotham-Light";}
#privacidad {
	clear:both;
	width:90%;
	margin:auto;
}
#privacidad p {
	font-size: 16px;
	font-family: "Gotham-Light";
}
#privacidad h4 {
	display: block;
	width: 100%;
	text-align: center;
	font-size: 25px;
	color: #00a099;
	font-family: "Gotham-Bold";
	border-bottom: 1px solid #00a099;
	margin-bottom: 20px;
}
.singlevet {
	width: 100%;
	height: auto;
	max-width: 800px;
	display: block;
	float: left;
	margin-top: 30px;
	border-radius: 15px;
	margin-right: auto;
	margin-left: auto;
}
.altudog {
	display: block;
	width: 100%;
	height: auto;
	max-width: 1200px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
}

.green-button2{
	background: #00a099;
	border-radius: 4px;
	display: block;
	margin-bottom: 8px;
	color: #fff;
	font-size: 18px;
	text-transform: uppercase;
	border: 4px solid transparent;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	padding-top: 14px;
	padding-right: 24px;
	padding-bottom: 14px;
	padding-left: 24px;
	clear: both;
	width: 35%;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
#seccion {
	width:92%;
	height:auto;
}
#seccion #izquierda {
	float:none;
	width:100%;
	margin:auto;
	clear:both;
}
#seccion #derecha {
	float:none;
	width:100%;
	margin:auto;
	clear:both;
}
#seccion3 {
	width:90%;
	height:auto;
}
#seccion3 #izquierda {
	float:none;
	width:100%;
	margin:auto;
	clear:both;
}
#seccion3 #derecha {
	float: none;
	width: 100%;
	clear: both;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
}

}


/* Dragos's CSS*/

/* Pricing CSS */

div.pricingtab {
	background-color: #00CCC2;
	border-bottom: 1px;
	border-top: 1px;
	border-color: white;
	border-style: solid;
	cursor: pointer;
	width: auto;
	text-align: center;
	vertical-align: baseline;
	margin: 0px;
	padding: 2px;
	border-left: 0px;

}
div.pricingtab#vacunas{
	border-top: 0px;
}

.pricingtab:active {
	background-color: #00A099;
}
.pricingtab.active {
	background-color: #00A099;
}

.pricingtab-a {
	padding: 10px !important;
	color: white !important;
	font-size: 110%;
	margin: auto;
	height: 110%;
}


.pricing-panel {
	border-style: solid;
	border-width: 4px;
	border-color: #00A099;
	border-radius: 0px;
}

.pricing-panel-header {
	padding-right: 0px !important;
	padding-left: 0px !important;
}

.pricing-display {
	background color: white;
}

.pricing-display-row-1 {
	padding-top:8%;
	padding-bottom:8%;
	color: #666666 !important;
	background-image: url("../images/pricing/blur_vet.png") !important;
	background-repeat:no-repeat;
	background-size:contain;
	background-position:center;
}
.pricing-display-row-1-active {
	padding-top:1%;
	padding-bottom:1%;
	color: #666666 !important;
	background-image: url("../images/pricing/blur_vet.png") !important;
	background-repeat:no-repeat;
	background-size:contain;
	background-position:center;
}

.pricing-display-row-2 {
	padding: 20px;
	color: #666666 !important;
}

.pricing-display-row-2-active {
	padding-top: 2px;
	padding-bottom: 2px;
}

.pricing-display-col-left {
	border-style: solid;
	border-width: 5px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	border-color: #00A099;
	padding: 15px;
	margin: 0px;
	flex: 0 0 25%;
	max-width: 25%;
	position: relative;
	min-height: 1px;
	background-color: white;
	display: flex;
	align-items: center;
}

.pricing-display-col-right {
	border-style: solid;
	border-width: 5px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-color: #00A099;
	padding: 10px;
	background-color: white;

}

.pricing-display-price {
	padding: 0px;
	margin: auto;
	text-align: center !important;
	vertical-align: middle !important;
}

.pricing-display-h5 {
	margin-bottom: 0px !important;
}

.valign{
	display: flex !important;
	align-items: center !important;
}

.pricing-display-h6 {
	margin-top: -25px;
	font-weight: normal;
	font-size: 12px;
}
/* Landscape phones and down */
@media (max-width: 480px) {
	.pricing-display-h5 {
		margin-bottom: 0px;
	}

	.pricing-display-h6 {
		margin-top: -25px;
		font-weight: normal;
		font-size: 8px;
	}
	.pricing-display-price {
		padding: 0px;
		margin: auto;
		text-align: center !important;
		vertical-align: middle !important;
		font-size: 16px !important;
	}
 }

 @media only screen and (min-width: 320px) and (max-width: 767px) {
	 div.pricingtab{
		 border: 1px solid white !important;
	 }
	 h5.depa{
		 font-size: 20px !important;
	 }
}
