{% extends 'base.html' %}
{% load staticfiles %}
{% load static %}
{% block body_content %}
<section class="full-wrapp" style="background-image: url({% static 'images/index/index_slide.jpg' %})">
  <h1 style="margin-top:2em"></h1>
  <h1>¡LO SENTIMOS!</h1>
  <h3>La página a la que se ha dirigido no se ha encontrado.</h3>
  <a class="btn btn-cta-white" href="{% url 'checkout' %}">PIDE TU CITA</a>
</section>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div style="padding:50px;">
        <h1>¡Lo sentimos!</h1>
        <h2>La página a la que se ha dirigido no se ha encontrado.</h2>
      </div>
    </div>
  </div>
</div>
{% endblock %}
