{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <link rel="shortcut icon" href="{% static 'images/favicon.ico'%}">
    <title>Veterinario a Domicilio | Instavets</title>
    <link href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'css/custom.min.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'owl_carousel/owl.carousel.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'owl_carousel/owl.theme.css' %}" rel="stylesheet" media="screen">
    {% block stylesheets %}
    {% endblock stylesheets %}
  </head>
  <body>

    {% block content %}
    {% endblock %}

    <script  type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <script  type="text/javascript" src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script  type="text/javascript" src="{% static 'owl_carousel/owl.carousel.min.js' %}"></script>
    {% block javascript %}
    {% endblock javascript %}
  </body>


</html>
