{% load staticfiles %}

    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-4">
                    <ul class="nav">
                        <li><a href="about-us.html">Servicios</a></li>
                        <li><a href="{% url 'tarifas' %}">Tarifas</a></li>
                        <li><a href="{% url 'meet_vets_url' %}">Conoce a las vets</a></li>
                        <li><a href="about-us.html">Pet Health Videos</a></li>
                        <li>
                          <a href="https://www.facebook.com/instavets/"><i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i></a>
                          <a href="https://www.linkedin.com/company/instavets">  <i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></a>
                          <a href="https://twitter.com/instavets">  <i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-xs-6 col-md-4">
                    <ul class="nav">
                        <li><a href="#">Ciudades</a></li>
                        <li><a href="#">Madrid</a></li>
                    <!--    <li><a href="#">Barcelona</a></li>
                        <li><a href="#">Valencia</a></li>  -->
                    </ul>
                    <ul class="nav">
                        <li><a href="{% url 'contacto' %}">Contáctanos</a></li>
                    </ul>
                </div>
                <div class="col-xs-6 col-md-4">
                    <ul class="nav">
                        <li><a href="#">¿Tienes algunas emergencia?</a></li>
                        <li><a href="#">Si tu mascota tiene una emergencia llamanos al 90902344. Te atenderemos en cualquier momento.</a></li>
                    </ul>
                </div>
            </div>
            <!--/row-->
            <div class="row row-footer-last">
              <a href="{% url 'terminos'%}">Términos y condiciones</a>
              <p>|</p>
              <a href="{% url 'privacidad'%}">Política de privacidad</a>
              <a href="http://www.animaventures.com/">©2015. Anima Consulting Projects.</a>
            </div>
        </div>
    </footer>
  </body>
</html>
