{% load staticfiles %}
    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="column col-md-4 col-sm-6 col-xs-6">
                    <ul class="nav">
                        <li><a href="about-us.html">Servicios</a></li>
                        <li><a href="{% url 'tarifas' %}">Tarifas</a></li>
                        <li><a href="{% url 'meet_vets_url' %}">Conoce a las vets</a></li>
                        <li>
                          <a href="https://www.facebook.com/instavets/"><i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i></a>
                          <a href="https://www.linkedin.com/company/instavets">  <i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></a>
                          <a href="https://twitter.com/instavets">  <i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="column col-md-4 col-sm-6 col-xs-6">
                    <ul class="nav">
                        <li><a href="#">Ciudades</a></li>
                        <li><a href="#">Madrid</a></li>
                    </ul>
                    <ul class="nav">
                        <li><a href="{% url 'contacto' %}">Contáctanos</a></li>
                    </ul>
                </div>
                <div class="column col-md-4 col-sm-6 col-xs-6">
                    <ul class="nav">
                        <li><a href="#">¿Tienes algunas emergencia?</a></li>
                        <li><a href="#">Si tu mascota tiene una emergencia llamanos al 912228229. Te atenderemos en cualquier momento.</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
              <a href="{% url 'terminos'%}">Términos y condiciones</a>
              <p>|</p>
              <a href="{% url 'privacidad'%}">Política de privacidad</a>
              <a href="http://www.animaventures.com/">©2015. Anima Consulting Projects.</a>
            </div>
        </div>
    </footer>
      <!--Start of Tawk.to Script-->
    <script type="text/javascript">
    var $_Tawk_API={},$_Tawk_LoadStart=new Date();
    (function(){
    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
    s1.async=true;
    s1.src='https://embed.tawk.to/55e9a9af5490646020f4ce43/default';
    s1.charset='UTF-8';
    s1.setAttribute('crossorigin','*');
    s0.parentNode.insertBefore(s1,s0);
    })();
    </script>
    <!--End of Tawk.to Script-->
  </body>
</html>
