{% load staticfiles %}
<header>
    <nav class="navbar" role="navigation">
      <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2">
        &#9776;
      </button>
      <div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar2">
        <a class="navbar-brand col-xs-12" href="{% url 'index' %}"><img  class="navbar-logo" alt="File logo" src="{% static 'images/index/logo-y-nombre.png' %}"/></a>
        <ul class="nav navbar-nav">
          <li class="col-xs-12 nav-item dropdown">
            <a class="nav-link dropdown-toggle"  href="{% url 'services_index' %}" >Servicios</a>
            <ul class="dropdown-menu">
              {% for menu_url, menu_link in menu_links.items %}
              <li>
              <a class="dropdown-item" href="{% url 'service_page' menu_url %}">{{ menu_link }}</a>
              </li>
              {% endfor %}
            </ul>
          </li>
          <li class="col-xs-12 nav-item">
            <a class="nav-link" href="{% url 'tarifas' %}">TARIFAS</a>
          </li>
          <li class="col-xs-12 nav-item">
            <a class="nav-link" href="{% url 'meet_vets_url' %}">LAS VETS</a>
          </li>
          <li class="col-xs-12 nav-item">
            <a class="nav-link" href="{% url 'contacto' %}">Tel: 912 228 229</a>
          </li>
        </ul>
      </div>
    </nav>
</header>
