.container-vets{
  margin-bottom: 4%;
  margin-top: 3%;
  & > h2{
    text-align: center;
  }
  & > div.linebreak1{
    margin-bottom: 4%;
  }
  & > div.card-deck-wrapper > div.card-deck > div.row{
    padding: 0% 5%;
  & > div.col-lg-4{
    &:last-child{
      & > div.card{
        @include respond-to(mobiles) { margin-bottom: 0px;}
      }
    }
      div.card{
        text-align: center;
        border: 2px solid #e5e5e5;
        @include respond-to(mobiles) { margin-bottom: 18%;}
        & > img{
          width: 90%;
          margin: 10px;
        }
        & > div.card-block{
          background-color: $instavets_green;
          & > h4{
            color: white;
          }
        }
      }
    }
  }
}

.card-title-vets{
 margin-top: 0;
 margin-bottom: 0;
 text-align: center;
 font-size: 30px;
}

.why-instavets-list{
  align-items: center;
  margin: 0 auto;
  max-width: 850px;
  padding: 5% 0%;
}
.why-instavets-item{
  align-items: center;
  display: flex;
  padding-bottom: 50px;
}

.why-instavets-item:last-child{
  align-items: center;
  display: flex;
  padding-bottom: 0px;
}

.why-instavets-title{
  font-size: 25px;
  line-height: 125%;
}

.why-instavets-description{
  text-align: justify;
  font-size: 15px;
  line-height: 125%;
}
.vet-bio-text{
  text-align: justify;
  display: inline;
}

.why-instavets-text-block{
  padding-left: 50px;
  @include respond-to(mobiles) { padding-left: 20px;}
}

.card-block{
  padding: 4%;
}

#vet_text{
  margin-left: 0px;
  margin-right: 0px;
  text-align: justify;
  & > i,h5{
    display: inline;
  }
}
