{% load static %}
{% load staticfiles %}

<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">


</head>
<body>
<h1 style="color: #00a099 !important; font-family: 'Gotham-Medium'; margin-bottom: 10px; margin-top: 10px;">CONSULTA RESERVADA</h1>
<h5 style="font-family: 'Gotham-Light'; font-size: 20px; font-weight: 200; line-height: 150%; margin-bottom: 40px; margin-top: 10px;">Nos ha llegado la petición de tu reserva.</h5>
<h1 style="color: #00a099 !important; font-family: 'Gotham-Medium'; margin-bottom: 10px; margin-top: 10px;">¡{{customer.first_name}}!</h1>
<h5 style="font-family: 'Gotham-Light'; font-size: 20px; font-weight: 200; line-height: 150%; margin-bottom: 40px; margin-top: 10px;">Tu consulta a domicilio queda reservada para el {{booking.date_booking|date:'d F f a'}}</h5>
<h5 style="font-family: 'Gotham-Light'; font-size: 20px; font-weight: 200; line-height: 150%; margin-bottom: 25px; margin-top: 10px;">Dirección:{{customer.adress}} </h5>
<h5 style="font-family: 'Gotham-Light'; font-size: 20px; font-weight: 200; line-height: 150%; margin-bottom: 30px; margin-top: 10px;">Teléfono de contacto:{{customer.phone_number}} </h5>
<h5 style="font-family: 'Gotham-Light'; font-size: 20px; font-weight: 200; line-height: 150%; margin-bottom: 25px; margin-top: 10px;">Mascota: {{pet.name}}</h5>
<h5 style="font-family: 'Gotham-Light'; font-size: 20px; font-weight: 200; line-height: 150%; margin-bottom: 25px; margin-top: 10px;">Especie:{{pet.species}} </h5><br>
<h5 style="font-family: 'Gotham-Light'; font-size: 20px; font-weight: 200; line-height: 150%; margin-bottom: 50px; margin-top: 10px;">¿Qué le ocurre?:{{pet.conditions}}</h5>
<div class="stamp" style="align-items: center; display: flex; width: 70%;">
<img class="logo-no-text" src="{% static 'images/index/logo_sin_eslogan.jpg'%}" style="border-right: 1px solid black; display: inline; float: left; padding-right: 10px; width: 20%;">
<div style="display: inline; margin-left: 10px; width: 50%;">
<h3 style="color: #535353; font-family: 'Gotham-Medium'; font-size: 1.3em; font-weight: 200; margin-bottom: 10px; margin-top: 10px;">91 449 50 21</h3>
<h5 style="font-family: 'Gotham-Light'; font-size: 20px; font-weight: 200; line-height: 150%; margin-bottom: 25px; margin-top: 10px;">Calle de Alonso Cano 66</h5>
<h5 style="font-family: 'Gotham-Light'; font-size: 20px; font-weight: 200; line-height: 150%; margin-bottom: 25px; margin-top: 10px;">28003 Madrid</h5>
</div>
</div>

</body>
</html>
